{% extends "bulletin/views/community/layout.html" %}
{% block template %}

{% for category in categories %}
  <h2>{{ category.title }}</h2>
  <p class="lead">{{ category.description }}</p>
  <ul class="list-group">
  {% for forum in category.forums %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-8">
          <a href="/forums/{{ forum.id }}">{{ forum.title }}</a>
          <br>{{ forum.description }}
        </div>
        <div class="col-sm-2">
          {{ forum.topics_count }} topics<br>{{ forum.posts_count }} posts
        </div>
        <div class="col-sm-2">
          <a href="">Latest post</a>
          by
          <a href="/users/{{topic.latest_user.id}}">
            {{forum.latest_user.username}}
          </a>
          <br>
          <span class="timeago" title="{{forum.latest_post.created_at}}">
            {{forum.latest_post.created_at}}
          </span>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
{% endfor %}

<div class="text-center">
  <a href="/categories/new" class="btn btn-default" style="width: 200px"
     {%if current-user.can-create-category?%}{%else%}disabled{%endif%}
     >New Category</a>
  <a href="/forums/new" class="btn btn-default" style="width: 200px; margin-left: 5px;"
     {%if current-user.can-create-forum?%}{%else%}disabled{%endif%}
     >New Forum</a>
</div>

{% endblock %}
