<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if community.description %}
    <meta content="{{ community.description }}" name="description">
    {% endif %}

    <link rel="icon" href="/favicon.ico">

    <title>
      {% if title %}
        {{title}} &mdash Bulletin
      {% else %}
        The Bolt-On Bulletin System &mdash; Bulletin
      {% endif %}
    </title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- <link href="{{= it.this.css_vendor_path}}" rel="stylesheet"> -->
    <!-- <link href="{{= it.this.css_app_path}}" rel="stylesheet"> -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Merriweather:700" rel="stylesheet" type="text/css"> -->
    <!-- <link href="navbar-static-top.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- Static navbar -->
    <a href="http://www.bulletin.dev:3000">Back to bulletin.com</a>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ current-community.title }}</a>
        </div>


        {% if current-user %}
        <form class="navbar-form navbar-right" action="/sessions" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Log out" class="btn btn-link">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <div class="btn-group">
            <a class="btn btn-default navbar-btn" href="/users/{{ current-user.id }}">
              <span class="glyphicon glyphicon-user"></span>
              {{ current-user.username }}
            </a>
          </div>
        </ul>
        {% else %}
        <!-- When not logged in -->
        <div class="navbar-right navbar-text">
          or <a href="/register">Register</a>
        </div>
        <form class="navbar-form navbar-right"
              action="/sessions"
              method="post">
          <div class="form-group">
            <input name="creds[username]"
                   type="text"
                   class="form-control"
                   placeholder="Username">
          </div>
          <div class="form-group">
            <input name="creds[password]"
                   type="password"
                   class="form-control"
                   placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        {% endif %}

      </div>
    </div>


    <div class="container">

      <!-- Alert message -->
      <!-- {{? it.this.flash && it.this.flash.message}} -->
      <!--   <div class="alert alert-{{= it.this.flash.message[0]}}"> -->
      <!--     {{= it.this.flash.message[1]}} -->
      <!--   </div> -->
      <!-- {{?}} -->

      <!-- Start content -->
      {% block template %}{% endblock %}
      <!-- End content -->

      <!-- Footer -->
      <div class="footer">
        <hr>
        <ul class="list-inline">
          <li>&copy; 2014</li>
        </ul>
      </div>

    </div> <!-- /container -->

    <!-- <script src="{{= it.this.js_vendor_path}}"></script> -->
    <!-- <script src="{{= it.this.js_app_path}}"></script> -->
    <script src="/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/markdown.js"></script>
    <script src="/js/bootstrap-markdown.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/post-edit-btn.js"></script>
    <script src="/js/post-reply-btn.js"></script>
  </body>
</html>
